#bg{
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;
}

#logo{
    transform: translate(-4%, 10%);
    width: 240px;

}

.inbox{
    margin-left: auto;
    margin-right: auto;
    width: 234px;
}
#container1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#Login {
    position: relative;
    width: 240px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    padding-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50%;
    margin-bottom: -200%;
}

.inputForm{
    font-family: arial, sans-serif;
    width: 232px;
    height: 30px;
    vertical-align: middle;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.btn btn-default {
    background-color: #2d2d2d;
    border: solid 0px #277ab0;
    color: white;
    width: 240px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 15px;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.submit:hover {
    background-color: #36a1e8;
    color: white;
}

.forgot{
    position: fixed;
    left: 27%;

    font-family: Arial, sans-serif;
    color: #7f7f7f;
    font-size: 13px;
    text-decoration: none;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.forgot:hover{
    text-decoration-line: underline;
    color: #444444;
}

.inputForm2{
    font-family: arial, sans-serif;
    width: 112px;
    height: 30px;
    vertical-align: middle;
    font-size: 15px;
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.form-group{
    width: 100%;
}